# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Python cache & compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.env
.venv
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
tmp/
temp/
*.tmp

# IDE / editor configs
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# TensorFlow / PyTorch training outputs
checkpoint/
checkpoints/
events.out.tfevents.*

# Model folder
models_store/
